.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
    padding-right: 5px;
    user-select: none;
}

.buttons svg {
    color: var(--s-clr-4);
    border-radius: 5px;
    padding: 0 3px;
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 0 0 0 transparent;
}

.buttons svg:first-child {
    border-radius: 5px 5px 0 0;
}

.buttons svg:last-child {
    border-radius: 0 0 5px 5px;
}

.buttons svg:hover {
    background: var(--s-bg-5);
    color: var(--s-clr);
    box-shadow: var(--s-border-5-bs);
}