.button {
    background: none;
    border: none;
    color: var(--button-text-color);
    font-size: 0.9em;
    cursor: pointer;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.button:not(.disabled):hover {
    color: var(--button-hover-color);
}

.button.primary:not(.outline) {
    background: var(--button-primary-color);
    color: var(--button-primary-text-color);
    padding: 7px 14px;
    border-radius: 5px;
    min-height: 33px;
}

.button.primary.outline {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 7px 14px;
    border-radius: 5px;
    min-height: 33px;
}


.min {
    min-height: 35px;
}

.disabled {
    cursor: not-allowed;
}

.button.primary:not(.outline,.disabled):hover {
    background: var(--button-primary-hover-color);
}

.button.primary.outline:not(.disabled):hover {
    border-color: var(--button-hover-color);
    color: var(--button-hover-color);
}

.shadow {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.invert:not(#\9):not(.outline) {
    background: white;
    color: black;
}

.invert.outline:not(#\9) {
    border-color: white;
    color: white;
}