.checkbox {
    border: 1px solid var(--accent-color);
    min-width: 1em;
    min-height: 1em;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.checkbox:hover {
    border-color: var(--accent-color-dark);
}

.checkbox.checked:hover {
    background: var(--accent-color-dark);
}

.checked {
    background: var(--accent-color);
}

.disabled {
    border-color: gray;
    cursor: not-allowed;
}

.disabled.checked {
    background: gray;
}

.checkmark {
    opacity: 0;
    font-size: 1em;
}

.checked .checkmark {
    opacity: 1;
    color: white;
}

.faint {
    color: rgb(60, 60, 60);
    font-size: 0.85em;
}