.button {
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: filter 0.1s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.button:hover {
    filter: brightness(1.1);
}